In [7]:
import pandas as pd
import numpy as np
#Series
name=np.array(['N','e','h','a'])
list=pd.Series(name)
print(list)

name=np.array(['P','a','n','d','a','s'])
a=pd.Series(name)
print(a)

0    N
1    e
2    h
3    a
dtype: object
0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [15]:
#Dataframes
Students={ 
    "Names":["Samiksha","Samruddhi","Neha","Diksha"],
    "Score":[80,81,82,83]
}
df=pd.DataFrame(Students)
print(df)

       Names  Score
0   Samiksha     80
1  Samruddhi     81
2       Neha     82
3     Diksha     83